

.authPage{
    margin-top: 10rem;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.authButtons{
    background: rgba(0, 0, 0, 0.223);
    width: 85%;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 0.1rem 0.4rem;
    margin-bottom: 2rem;
    

}
.authOptionButton{
    height: 80%;
    color: rgba(74, 74, 74, 0.455);
    width: 50%;
    transition: 0.3s ease;
    
}

.authOptionButton.activeButton{
    background: white;
    border-radius: 12px;
    color: black;

  }

.loginForm, .signInForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 1rem;


  }

.inputField{
    background: rgba(0, 0, 0, 0.223);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 0.1rem 0.4rem;
    border: none;
    width: 85%;
    outline: none;

}

.inputWindow{
    width: 100%;
    display: flex;
    justify-content: center;
}
.authSubtitle{
    margin-bottom: 2rem;
}

.submitButton{
    background: linear-gradient(80deg, rgba(89, 131, 252, 1) 16%, rgba(169, 41, 136, 1) 100%);
    color: white; 
    border-radius: 12px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 85%;
}

@media(min-width: 1024px){

    .authButtons{
        width: 30%;

    }
     .submitButton, .inputField{
        width: 90%;
    
    }

    .loginForm, .signInForm{
        background: white;
       border-radius: 14px;
       width: 30%;
       padding: 5% 0;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    
      }



}

@media(min-width: 1025px){
    .authButtons{
        width: 50%;

    }
     .submitButton, .inputField{
        width: 90%;
    
    }

    .loginForm, .signInForm{

        border-radius: 14px;
        width: 50%;
        padding: 5% 0;
        background: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     
     
       }

 
}

