.dashboard{
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
}

.header{
    position: relative;
    height: 6.6rem;
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: flex-start;
    padding: 2%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.513);
    overflow: hidden;
}

.searchInputContainer{
    position: absolute;
    top: 50%;
    width: 96%;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.077);
    display: flex;
    align-items: center;
    justify-content: space-between;

   
    
}

.searchInput{
    width: 300px;
    margin: 0 auto;
    outline: none;
    border: none;
    background: none;
}

@media(min-width: 768px){
    .searchInputContainer{
        position:static;
        top: none;
    }

}


@media(min-width: 1024px){
    .sidebarBtn{
        display: none;
    }

}

