.dashboard{
    width: 100vw;
    min-height: 100vh;
    background-color: #F7F9FC;

    background-image:
        radial-gradient(circle at 20% 80%, rgba(200, 200, 255, 0.1) 0%, transparent 50%),
        radial-gradient(circle at 80% 20%, rgba(200, 200, 255, 0.15) 0%, transparent 50%);

}

.header{
    position: relative;
    height: 7.5rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4% 2%;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.513); */
    overflow: hidden;
}

.searchInputContainer{
    position: absolute;
    top: 50%;
    width: 96%;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.077);
    display: flex;
    align-items: center;
    justify-content: space-between;

   
    
}


.searchInput{
    width: 300px;
    /* margin: 0 auto; */
    outline: none;
    border: none;
    background: none;
}

.userContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.077);
    border-radius: 15px;
    gap: 1rem;
    padding: 0.1rem 0 0.1rem 0;
    padding-right: 0.7rem;
    min-width: 45%;
    border-top-left-radius: 30px ;
    border-bottom-left-radius: 30px;
  


}
.userImage{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.userAvatar{
    width: 30px;
    height: 30px;
    height: auto;
}
.userData{
    display: flex;
    align-items: center; 
    gap: 0.89rem;

}

.sidebarBtn{
   height: 30px;
   margin-top: 0rem;
}

.userName{
    font-size: 0.78rem;
}

@media(min-width: 768px){
    .userContainer{
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        background: rgba(0, 0, 0, 0.077);
        border-radius: 15px;
        gap: 1rem;
        padding: 0.1rem 0 0.1rem 0;
        padding-right: 0.7rem;
        min-width: 20%;
        border-top-left-radius: 30px ;
        border-bottom-left-radius: 30px;
      
    
    
    }
    .userImage{
        height: 45px;
        width: 45px;
        border-radius: 50%;
        overflow: hidden;
    }
    
    .userAvatar{
        width: 50px;
        height: 50px;
        height: auto;
    }
    .userData{
        display: flex;
        align-items: center; 
        gap: 0.89rem;
    
    }
    
    .sidebarBtn{
       height: 30px;
       margin-top: 0.3rem;
    }

    .searchInputContainer{
        position:static;
        width: 40%;
      
  
    }
    .header{
        position: relative;
        height: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 2%;
        /* border-bottom: 1px solid rgba(0, 0, 0, 0.513); */
        overflow: hidden;
        gap: 5%;
    }

}


@media(min-width: 1024px){
    .userContainer{
        position: fixed;
        right: 1%;
        width: 20%;
    }
    .sidebarBtn{
        display: none;
    }
    .searchInputContainer{
        width: 50%;
      
  
    }
    .header{
        position: relative;
        height: 4rem;
        padding-right: 6rem;
    }

}

@media(min-width: 1025px){
    .userContainer{
        min-width: 16%;
    }
    .searchInputContainer{
        width: 36%;
      
  
    }
    .userContainer{
        position: fixed;
        width: 10px !important;
        right: 1%;
    }


}