.hero{
    margin-top: 10rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.ctaButton{
    font-size: 1.2rem;
    background: linear-gradient(80deg, rgba(89, 131, 252, 1) 16%, rgba(169, 41, 136, 1) 100%);
    color: white; 
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 12rem;
}

.heroTitle{

}
.heroSubTitle{
    color: rgba(0, 0, 0, 0.622);
    font-size: 1.1rem;

}

.heroButtonSubTitle{
    color: rgba(0, 0, 0, 0.513);

}

@media (min-width: 601px){
    .heroTitle{
        font-size: 3rem;
        max-width: 70%;

    }
    .heroSubTitle{
        color: rgba(0, 0, 0, 0.622);
        font-size: 1.1rem;
    
    }
    
    .heroButtonSubTitle{
        color: rgba(0, 0, 0, 0.513);
    
    }
    .ctaButton{
        width: 14rem;
    }
    

}

@media (min-width: 1024px){
    .heroTitle{
        font-size: 3.5rem;
        max-width: 70%;

    }
    
}

@media (min-width: 1025px){
    .heroTitle{
        font-size: 3.3rem;
        max-width: 70%;

    }
    
}