.sidebar{
    position:absolute;
    left: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 75%;
    padding: 1% 3%;
    transition: transform 0.3s ease;
    overflow: hidden;
    z-index: 100;
    /* border-right: 1px solid rgba(0, 0, 0, 0.513); */
    background-color: #F7F9FC;

    background-image:
        radial-gradient(circle at 20% 80%, rgba(200, 200, 255, 0.1) 0%, transparent 50%),
        radial-gradient(circle at 80% 20%, rgba(200, 200, 255, 0.15) 0%, transparent 50%);
}

.closed{
    transform: translateX(-100%);

}



.sidbarHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}



.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.3rem;
 
    
}

.logoImage{
    height: 3rem;
   
}

.logoText{
    font-weight: 500;
    color:#000000;



}

.sidebarBtn{
    margin-top: 5px;

}

.sidebarBody{
    width: 100%;
    display: flex;
    

}

.sidebarBodyList{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: 14% 6%; 
}

.sidebarBodyList li{
    display: flex;
    align-items: center;
    gap: 2rem;

}


.closed .sidebarBodyList{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    list-style: none;
}


@media(min-width: 768px){
    .sidebar{
        width: 40%;
    }
    
}
@media(min-width: 1024px){
    .sidbarHeader.closed{
        justify-content: center;
    }
    .sidebar{
        position: static;
        width: 100%;
    }
    .closed {
        transform: none; 
    }
   
}